.center-wrap {
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 margin-top: 5%;
 }
 
 .center-card {
	 width: 40%;
 }
 .centered-header {
   display: flex;
   justify-content: center;
   text-align: center;
 }
 .card-content-center {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
 }

 .quotes-container {
   display: flex;
   justify-content: center;
   gap: 15px;
   margin-top: 15px;
 }

 .cardQuote{
    width: 80px;
    height: 80px;       
    aspect-ratio: 1 / 1; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.fraction {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.num { border-bottom: 1px solid black; }