<mat-toolbar>

  <span class="title-center">{{title()}}</span>

</mat-toolbar>


<mat-sidenav-container class="custom-container" fullscreens>
  <mat-sidenav #sidenav class="custom-sidenav" mode="side" opened>
    <mat-nav-list>
      <mat-list-item>
        <span> Overview </span>
      </mat-list-item>
    </mat-nav-list>
    @for (sports of sports(); track sports) {
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span> {{sports.nomeSport | capitalize  }}</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div>
        @for (categ of sports.categoria; track categ) {
        <a mat-list-item>{{ categ }}</a>
        }
      </div>
    </mat-expansion-panel>
    }
  </mat-sidenav>

  <mat-sidenav-content><router-outlet></router-outlet></mat-sidenav-content>
</mat-sidenav-container>