.title-center {
  flex: 1 1 auto;
  text-align: center;
}
 mat-toolbar{
   border-bottom: solid
 }

::ng-deep .mat-sidenav-container{
  height: 100vh !important;
}

mat-sidenav{
    width: 15%;
    border-right: solid;
}